<!DOCTYPE html>
<html>
<head>
  <title>Account management</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "account_management/application", media: "all" %>
  <%= javascript_include_tag "account_management/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
